.timeline {
  position: relative;
  padding: 80px 15% 0px 15%;
  background-color: #0f0f0f;
  color: white;
  font-family: "Poppins", sans-serif;
  max-width: 1600px;
  margin: 0 auto;
}

.timeline-title {
  font-size: 2rem;
}

.timeline-line {
  position: absolute;
  left: calc(8% + 40px);
  top: 150px;
  bottom: 40px;
  width: 3px;
  background: linear-gradient(to bottom, #00ffff, #ff00ff);
  border-radius: 10px;
}

.timeline-item {
  display: flex;
  position: relative;
  margin-bottom: 50px;
  align-items: flex-start;
}

.timeline-short-line {
  position: absolute;
  left: -34px;
  top: 95px;
  width: 100px;
  height: 2px;
  background-color: #00ffff;
  border-radius: 2px;
}

.timeline-content {
  margin-left: 80px;
  background-color: #181818;
  padding: 25px 30px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  border: 1px solid #252525;
  flex: 1;
  position: relative;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  text-align: left;
}

.timeline-content:hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 12px rgba(0, 255, 255, 0.2);
}

.timeline-date {
  position: absolute;
  top: 12px;
  right: 15px;
  font-size: 0.8rem;
  color: #ccc;
  background-color: #101010;
  padding: 5px 10px;
  border-radius: 12px;
  border: 1px solid #222;
}

.timeline-content h3 {
  margin: 0;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 0.5px;
  padding-left: 10px;
}

.timeline-content h4 {
  color: #00ffff;
  font-size: 0.9rem;
  font-weight: 600;
  letter-spacing: 0.5px;
  margin-bottom: 10px;
  padding-left: 15px;
}

.timeline-content ul {
  padding-left: 20px;
  font-weight: 300;
  line-height: 1.7;
  color: #ccc;
}

.timeline-date {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 0.8rem;
  color: #bbb;
  background-color: #0f0f0f;
  padding: 4px 10px;
  border-radius: 15px;
  border: 1px solid #222;
}

@media (max-width: 768px) {
  .timeline {
    padding: 40px 30px;
  }

  .timeline-line {
    left: 20px;
  }

  .timeline-dot {
    left: 15px;
  }

  .timeline-content {
    margin-left: 60px;
  }
}